
@media (min-width: 576px) {
  .Container{
    height:600px;
    width:400px;
    background-color: #FFEA11;
    border-radius: 1.5rem;
    margin-top: 100px;
    margin-bottom: 100px;
    position:relative;
    left:300px;

  }


  .Header{
    text-align: center;
    position: relative;
    top:50px;
    letter-spacing: 10px;
    font-family: "Brygada 1918" , sans-serif;

  }

  .second-header{
    margin-top: 100px;
    text-align: center;
    font-family: "Uchen" , sans-serif;
    position: relative;
    bottom: 20px;
  }

  .middle-text{
    margin-left: 50px;
  }

  .use{
    margin-left: 20px;
  }


  .pass{
    margin-left: 20px;
  }

  .box{
    margin-left: 20px;
  }


  .btn{
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .check{
    margin-top:30px;
    margin-left:130px;
  }

  .keep{
    position:relative;
    bottom:25px;
    left:150px;

  }

  .last{
    margin-right: 10px;
    margin-left: 40px;
  }

}
